*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

pre{
    font-size: 120px;
    position: relative;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    transition: all 0.4s;
}

pre::before{
    content: "I LOVE YOU MY BABY";
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0000;
    filter: blur(0px);
    z-index: -1;
    transition: all 0.4s;
}

pre:hover::before{
    filter: blur(100px);
}

pre:hover{
    color: #ff0000;
}


